<!doctype html>
<html>
<head>
    <title>My Books</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui segment basic">
    <header class="ui large secondary menu">
        <img class="brand item" src="/img/logo.png" alt="Logo">

        <nav class="menu">
            <a class="item" href="/">Home</a>
            {{#if user.isLoggedIn}}
                <a class="item" href="/sync">Sync</a>
            {{else}}
                <a class="item" href="/register">Register</a>
                <a class="item" href="/login">Login</a>
            {{/if}}
            <a class="item" href="/books">Books</a>
        </nav>
    </header>
</div>
<header><h1>My Books</h1></header>
<div class="ui container">
    <div class="twelve wide column">
        {{{body}}}
    </div>
</div>
<footer class="ui segment basic footer">
    <div class="ui container">
        &copy; {{copyrightYear}} Goodreads UI
    </div>
</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>